h1{
  text-align: center;
  font-size: 4vw;
  color: cadetblue;
  margin-top: 15px;
  margin-bottom: 30px;
}

.inputs{
  display: flex;
  justify-content: center;
}

.txtBar{
  width: 40vw;
  height: 4vw;
  font-size: 3vw;
  background-color: ghostwhite;
}

.txtBar:focus{
  outline: 0;
}

.btn{
  margin-left: 10px;
  width: 10vw;
  max-width: 100px;
  height: 5vw;
  max-height: 50px;
  background-color: tomato;
  border: none;
  border-radius: 20px;
  border-color: cornsilk;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  bottom: 1.8px;
}

.btn:active{
  color: black;
  background-color: rgb(230, 70, 40);
}

.image{
  margin-top: 20px;
}

.result{
  font-size: 2.75vw;
}

@media (orientation: portrait) {
  .btn{
    width: 16vw;
    max-width: 120px;
    height: 8vw;
    max-height: 60px;
    font-size: 3.2vw;
    position: relative;
    bottom: 1.8px;
  }

  .txtBar{
    width: 70vw;
    height: 7vw;
    font-size: 4vw;
    background-color: ghostwhite;
    margin-bottom: 15px;
  }

  h1{
    font-size: 7vw;
  }
}